<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coady.mytweetapp">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="coady.mytweetapp.main.TweetApp">

        <activity android:name="coady.mytweetapp.activity.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="coady.mytweetapp.activity.Welcome"
            android:label="@string/tweet" >
        </activity>

        <activity
            android:name="coady.mytweetapp.activity.Tweet"
            android:label="@string/tweet" >
        </activity>

        <activity
            android:name="coady.mytweetapp.activity.Timeline"
            android:label="@string/timeline" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="coady.mytweetapp.activity.Tweet"/>
        </activity>

        <activity
            android:name="coady.mytweetapp.activity.Signup"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="coady.mytweetapp.activity.Login"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>